.skeleton {
  position: relative;
  background: #131313;
}

.paginationCell {
border-bottom: 1px solid  #0086B6;
}

.searchModule {
  border-right: 1px solid #0086B6;
}

.filterSortModule {
  border-right: 1px solid #0086B6;
}

/* Apply skeleton effect to children shapes */
.skeleton::before {
  content: '';
  display: block;
  background: linear-gradient(90deg, #182929 25%, #222 50%, #182929 75%);
  background-size: 200% 100%;
  animation: loading 1.4s infinite;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.splash {
  width: 100%;
  height: 100%;
}

.mediaRepeater {
  overflow: visible;
  padding-left: 25px
}

.mediaTitleContainer {
  width: 100%;
  justify-content: space-between;
}

/* Animate skeleton */
@keyframes loading {
  0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; }
  }



